{% extends 'base.html' %}

{% load static %}

{% block title %} PH Comunas {% endblock %}

{% block content %}

    <!-- Custom JS -->
    <script type="text/javascript" src="{% static 'js/tablas/comunas.js' %}"></script>  

    <div class="container mt-4">
    
        {% csrf_token %}
    
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="table-responsive">
                    <table style="width:100%">
                        <tr>
                            <td width="90%" class="titform20">Tabla de Comunas</td>
                            <td width="10%" class="text8c">
                                <button class='btn btn-sm btn-primary tip' title='Agregar Comuna' onClick='AgregarRegistro()' >
                                    <i class='fa-solid fa-plus'></i>
                                </button>                        
                            </td>
                        </tr>
                    </table>
    
    {% include 'comunas/comunas_ajax_list.html' %}
    
                </div>
            </div>
        </div>
    </div>

    <div id="diagedit">
        <br />
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <table class="table-responsive" border="0" width="100%">
                <tr>
                    <td width="20%" class="tdtit8r">Identificador:&nbsp;</td>
                    <td width="80%"  class="text8l">
                        <input type="text" readonly name="id" id="id" size="10" />
                    </td>
                </tr>
                <tr>
                    <td width="20%" class="tdtit8r">Nombre de Comuna:&nbsp;</td>
                    <td width="80%"  class="text8l">
                        <input type="text" name="nombre" id="nombre" placeholder="Nombre" size="50" maxlength="45" class="form-control  w-75" />
                    </td>
                </tr>
                <tr>
                    <td width="20%" class="tdtit8r">Región:&nbsp;</td>
                    <td width="80%">
                        <select required="required" class="form-control w-auto" name="region" id="region" style="font-size:11px;">
                            {% for region in regiones %}
                                <option value="{{ region.id }}" class="text8l">{{ region.nombre }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    
{% endblock %}
