# Ignorar archivos txt
  *.txt

# Ignorar todos los archivos .pyc
*.pyc

# Ignorar el directorio "docs"
docs/

# Ignorar todos los archivos y directorios dentro de "temp"
temp/*

# Ignorar todos los archivos y directorios dentro de "imagenes"
imagenes/*
