{% extends 'base-home.html' %}
{% load static %}

{% block content %}

<section class="p-4" name="reserva">
  <div class="row" style=" width: 90%;">
   <!--  <div class="col-lg-0 col-md-12 col-sm-0 col-xs-12">
    <div class="row "> -->

        <div class="col-lg-9 col-xs-12">

            <div id="carouselProxima" class="carousel slide mx-2" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselProxima" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
                    <button type="button" data-bs-target="#carouselProxima" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
                    <button type="button" data-bs-target="#carouselProxima" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active "> 
                        <div class="row">
        
                            <div class="col">
                                
                                        <div class="bg-light.bg-gradient p-4 mx-3 d-none d-md-block" > 
                                            <span class="titulo1 " >Agenda con especialistas  </span> 
                                            <span class="titulo2 "  >de diversos rubros en un solo lugar</span>
                                            <p class="texto-carousel text-lg-start"> Podr&aacute;s seleccionar de acuerdo a tu necesidad, la mejor comunicaci&oacute;n con tu especialista</p>
                                        </div>
            
                            </div>
                            <div class="col carousel-image bg-img-1" >     </div>
                        </div>
                    
                    
                    
                    </div>
                <div class="carousel-item">
                    <div class="row">
        
                        <div class="col">
                            <div class="bg-light.bg-gradient p-4 mx-3 d-none d-md-block" > 
                            <span class="titulo1 " >Encuentra diferentes especialistas </span> 
                                <span class="titulo2" >una soluci&oacute;n f&aacute;cil y a tu alcance</span><br>
                                <p class="texto-carousel">No importa donde estes tendras la agenda clara con nosotros.</p>
                        </div>
                        </div>
        
                    <div class="col bg-img-2 carousel-image  ">     </div> 
                
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
        
                        <div class="col">
                            <div class="bg-light.bg-gradient p-4 mx-3 d-none d-md-block" > 
                            <span class="titulo1 " >Pr&oacute;xima Hora, tu puerta a un mundo  </span> 
                                <span class="titulo2" >de contacto con especialistas</span><br>
                                <p class="texto-carousel">Te ayudamos a resolver tu necesidad sin tr&aacute;mites innecesarios.</p>
                            </div>
                        </div>
        
                        <div class="col bg-img-3 carousel-image  ">     </div>           
                            
                    </div>
                    
                </div>
                </div>
            
           
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselProxima" data-bs-slide="prev">
                <i class="fa fa-chevron-left"></i>       
               <span class="visually-hidden">Anterior</span>
           </button>
           <button class="carousel-control-next" type="button" data-bs-target="#carouselProxima" data-bs-slide="next">
                   <i class="fa fa-chevron-right "></i>
               <!--  <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
               <span class="visually-hidden">Siguiente</span> 
           </button>

        


        </div>
        <div class="col-lg-3 col-xs-12">
            <div class="texto-carousel "> Selecciona el rubro para iniciar tu b&uacute;squeda</div>
                                    
            <div class="outer">
                    <div class="inner" style="width:100%;">
                            <select name="selectRubro" class=" form-select " >
                            <option value="-" selected>Selecciona</option>
                            <option value="rubro1">Arquitectura</option>
                            <option value="value2" >Rubro 2</option>
                            <option value="value3">Rubro 3</option>
                        </select> 
                    </div>
                    <div class="inner d-block p-2"> 
                        <button type="button" class="button-especialista "><a href="especialista/buscaespe/" class="">Buscar Especialista</a></button>
                    </div>
            </div>
        </div>
    <!-- </div>
    </div> -->
   </div>   
</section>
<section  name="especialista" class="especialista-home p-2 container-fluid">
         
    <div class=" row especialista-home2">

        <div class="col-md-3">  <img src="{% static 'img/image57.png'%}" style="width: 100%;height: 100%;object-fit: contain;"></div>
        <div class="col-md-6  ancho-medio"> 
            
            <h1>&iquest;Eres un especialista?</h1>
                <h2>&iexcl;Reg&iacute;strate en Pr&oacute;xima Hora<br>
                y comienza a recibir solicitudes! </h2>
                <p>&iexcl;Ofrece tus servicios y saca 100% de provecho a tu tiempo!<br> 
                    Hacemos m&aacute;s f&aacute;cil a los que te buscan, para que te encuentren de forma amigable y segura.</p>
                
                    <button type="button" class="btn " class="btn  boton" data-bs-toggle="modal" data-bs-target="#SuscripcionModal">
                        <img src="{% static 'img/registrate.png'%}" >
                    </button>
                
                
                    <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#ContactoModal"> 
                    <img src="{% static 'img/contactanos.png' %}">
                </button>
                    
            
            
        </div>
        <div class="col-md-3"> <img src="{% static 'img/plumber-with-his-arms-crossed.jpg'  %}" style="width: 100%;
            height: 100%; object-fit: contain;"></div>

    </div>
        
</section>
        <!-- //eres especialista -->
<!-- //banner -->
<section class=" py-2" name="banner">
    <div class="row banner cajas">
        <div class="row">
        <div class="col">
           
            
    </div></div>
            <div class="col-lg-7 mb-2 ">
            <div class="row">
                <div class="p-2 col-lg-1 vector col-md-3 col-sm-0 col-xs-0"> <img src="{% static 'img/Vector.svg' %}" > 
				</div>
                <div class="col-lg-8" > 
                <h2 class="p-2"style="
                    font-size: 2rem;   font-weight: 700;  letter-spacing: 0.15px;">&iquest;Quieres que todo el mundo vea tu anuncio aqu&iacute;?</h2>
                    <p style="font-size: 1.4rem;font-weight: 400; letter-spacing: 0.5px;">Haz que tu negocio llegue a m&aacute;s personas public&aacute;ndolo en este espacio</p>
                    <button type="button" class="btn btn-info">Cont&aacute;ctanos para mas informaci&oacute;n</button>
                </div>
            </div>
          
            </div>
            <div class="col-lg-2 col-md-6 col-sm-0 col-xs-0">
                <img src="{% static 'img/Star-1.png' %}">
                <img src="{% static 'img/Star.png' %}">
                <img src="{% static 'img/Star-2.png' %}">
                <img src="{% static 'img/Star-3.png' %}">
                <img src="{% static 'img/Star-4.png' %}">
            </div>
            <div class="col-lg-1 col-md-0 col-sm-0 col-xs-0">
                <img src="{% static 'img/Megaphone.png' %}">
            </div>
    </div>

</section>


<section class=" p-4" name="beneficio" id="beneficios">
<h1> Conoce nuestros beneficios</h1>
    <div class="beneficios" >
        
   

    
        <div class="card  cards-beneficios " >
        
             
                <figure    >
                      <img src="{% static 'img/booking.svg' %}" class="card-img-top ">
                </figure>
                
            
            <div class="card-body">
                <h5 class="card-title">Tomar hora</h5>  
                Permite acceso a clientes nuevos y recurrentes a servicio de búsqueda, agendamiento y mucho m&aacute;s para tomar su pr&oacute;xima hora.
            </div>
        </div>
        
        <div class="card  cards-beneficios" >  
           
                    <figure  >  
                           <img src="{% static 'img/doctor.svg' %}" class="card-img-top img-fluid rounded-start" >
                    </figure>
                    <div class="card-body">
                        <h5 class="card-title">Certificaci&oacute;n</h5>    
                        Profesionales de la Salud en Chile cuentan con registro en Superintendencia de Salud, validados por ProximaHora.
         </div>
        </div>
   
        <div class="card  cards-beneficios" style="box-shadow: 0px 5px 15px 0px rgba(15, 73, 86, 0.20);">
             
                <figure >
                      <img src="{% static 'img/access.svg' %}" class="card-img-top img-fluid rounded-start" >
                </figure>
              
            <div class="card-body">
                    <h5 class="card-title">Acceso</h5>  
                    Acceso r&aacute;pido 24/7 a búsqueda y agendamiento con su profesional desde cualquier lugar donde se encuentre.
            </div> 
        </div>
    </div> 
        
    <div class="beneficios" >
     
    
            <div class="card  cards-beneficios ">
            
                 <figure>
                     <img src="{% static 'img/register.svg' %}" class="card-img-top img-fluid rounded-start">   
                 </figure>
                                    
                                          
                
                <div class="card-body">
                    <h5 class="card-title">Historial</h5>  
                     Acceso a historial de servicios y especialistas visitados s&oacute;lo usuarios registrados
                </div>
            </div>
            
            <div class="card  cards-beneficios" >  
               <figure>
                    <img src="{% static 'img/ubication.svg' %}" class="card-img-top img-fluid rounded-start"> 
               </figure>                   
                        <div class="card-body">
                            <h5 class="card-title">Ubicaci&oacute;n</h5>    
                            Revisar opci&oacute;n de servicios presenciales, a domicilio o remotos.
                         </div>
            </div>
          
            <div class="card  cards-beneficios">
                <figure>
                    <img src="{% static 'img/security.svg' %}" class="card-img-top img-fluid rounded-start"> 
               </figure>
                  
                <div class="card-body">
                        <h5 class="card-title">Seguridad</h5>  
                        Manejo seguro de la informaci&oacute;n de especialistas y usuarios
                </div> 
            </div>
    </div>
          

</section>

<section class="nosotros p-4 " style="background: var(--Foundation-Primario-1-primario-1-50, #EBF2FF); " id="nosotros" name="nosotros">
 <div class="container  p-2 mx-6" >
 
<div  class="row p-2 " class="nosotros"  >
                 <div class="col-lg-1"   ></div>
                <div class="col-md-5 p-2"> 
                        <h3>Sobre Nosotros</h3>
                        <h4>&iquest;Qué hace Pr&oacute;xima Hora?</h4><br>
                        Pr&oacute;xima Hora busca simplificar y abaratar el acceso a los Servicios de Especialistas Independientes (EIRLs) y tambien PYMES,
                        generando un bien social, permitiendo buscar alternativas a servicios que presentan largas colas
                        de espera y saturaci&oacute;n. 
                       
                        
                        <div class="p-2">
                            <a href="#" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#Historia"> 
                            <dev style="font-weight:bold;color:white;">M&aacute;s...</span></a>
                        </div>
                                                    <!-- Modal -->
                            <div class="modal fade" id="Historia" tabindex="-1" aria-labelledby="Historia" aria-hidden="true">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="Historia">Pr&oacute;xima Hora</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <h4>Qué ofrecemos?</h4>
                                        Para ello hemos creado un buscador que permite a los visitantes encontrar al Especialista necesario, tomando en cuenta su cercan&iacute;a y disponibilidad y pudiendo agendar online su Hora las 24 horas del d&iacute;a, los 7 d&iacute;as de la semana en los distintos rubros ofrecidos.<hr>
                                        <h4>Historia de la marca</h4>
                                        Pr&oacute;xima Hora nace como una idea basada en la experiencia personal de uno de los Socios de CRUVAL Business Ltda. que identifica que en el rubro de la salud existen pocos caminos
                                        alternativos para buscar y agendar servicios de especialistas m&aacute;s all&aacute; de las p&aacute;ginas de cl&iacute;nicas, por
                                        lo que para las personas que buscan esos servicios, los especialistas independientes o
                                        dependientes con disponibilidad de atenci&oacute;n fuera de sus horarios laborales quedan fuera de su
                                        alcance. No solamente acotada al rubro de la salud, esta necesidad se puede extrapolar a todos los rubros y servicios.<br>
                                        De ah&iacute; nace el nombre “Pr&oacute;xima Hora”, ya que la idea es permitir encontrar de modo r&aacute;pido, f&aacute;cil
                                        y accesible la hora m&aacute;s pr&oacute;xima en tiempo y distancia disponible.<br><hr>
                                    <h4>Equipo</h4>
                                        Pr&oacute;xima Hora nace como un proyecto de dos cuñados: Juan Pablo, Psic&oacute;logo de la
                                        Universidad de los Andes con un MBA UC y Francisco, Ingeniero Civil Industrial de la UGM y
                                        cuenta con dos MBAs (UC y Meigen en Negocios Internacionales). Nos complementamos sumando
                                        management con el conocimiento del mercado de los Especialistas Independientes. <br>
										Pr&oacute;xima Hora
                                        es simple, accesible y serio; buscando simplificar y abaratar el acceso a los Servicios de
                                        Especialistas a todas las personas, sin trabas ni grandes complicaciones, generando un bien social,
                                        permitiendo buscar alternativas a servicios que presentan largas colas de espera y saturaci&oacute;n.
                                        
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    
                                    </div>
                                </div>
                                </div>
                            </div>
                            <!-- termino modal --> 
                        
                </div>
              
                
                <div class="col-md-5 p-5 " >
                <img src="{% static 'img/nosotros.jpg' %}" style="width:100%;object-fit: cover;  display: inline-block;">
                </div>
                <div class="col-lg-1"   ></div>
            
                
</div></div>       

        

</section>   

<section style="background: var(--gradiente-02, linear-gradient(0deg, #FFF 0%, rgba(255, 255, 255, 0.50) 0.01%, #EBF2FF 115.49%));" id="noticias" name="noticias">
<h1> Nuestras noticias</h1>
<div class="beneficios " >
    
    
 

    
    <div class="card  cards-noticias ">
       
        
           
                <img src="{% static 'img/futuroisapres.jpg' %}" class="card-img-top rounded-top">
           
        <div class="card-body my-3">
            
    <h5 class=" card-title subtitulo2">Futuro Isapres</h5>  
    <p class="card-text ms-2 me-2"> Some quick example text to build on the card title and make up the bulk of the card's content.
    </p>
    <div class="row"> 
        <div class="col ms-2" ><a href="#" class="btn btn-info">Ver Noticia</a></div> 
    </div>
  
        </div>
    </div>


    <div class="card  cards-noticias" >  
       
              
                    <img src="{% static 'img/fotos/medico1.jpg' %}" class="card-img-top rounded-top" >
             
                <div class="card-body">
                    <h5 class="subtitulo2">Seguimiento de agenda</h5>    
        <p class="ms-2 me-2">          
        </p><div class="row"> <div class="col ms-2" ><a href="#" class="btn btn-info">Ver Noticia</a></div> </div> 
     </div>
    </div>
    <div class="card  cards-noticias">
        <img src="{% static 'img/taxsii.png' %}" class="card-img-top rounded-top">
          
        <div class="card-body">
                <h5 class="subtitulo2">IVA en servicios profesionales</h5>  
            <p class="ms-2 me-2">Excepciones incluidas en la Ley:
                Servicios prestados por personas naturales°.
                
            </p><div class="row"> <div class="col ms-2" ><a href="#" class="btn btn-info">Ver Noticia</a></div> </div>
        </div> 
    </div>

  
        
</div>
             

  
</section>


<section  style="background: var(--Foundation-Primario-2-primario-2-800, #435C8C);  
         border: 1px solid var(--Foundation-Grises-grises-700, #555);" name="video">
       <div class="p-4 col-lg-0 col-md-12 col-sm-0 col-xs-12">

         <img src="{% static 'img/Frame 237.png' %}" style=" align-self: stretch;border-radius: 40px;
         justify-content: center;width:80%;height: 80%;">
       </div>
        
           
       
        
       
</section>


<section class="p-4  justify-content-center" name="FAQ" id="FAQ">
        <div style="text-align:center" id="FAQs" > 
            <div><h2>Preguntas frecuentes</h2>
            </div>
        </div>
        <div class="container">
            <div class="row "style="text-align:left"> 
            
                <div class="col col-lg-8 col-sm-12 ">
                        <div class="accordion" id="accordionPH">


                            <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    &iquest;C&oacute;mo funciona Pr&oacute;xima Hora?
                                </button>
                            
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionPH">
                                <div class="accordion-body">
                                        En términos simplificados:
                                    <br> •	Los Visitantes (Usuarios demandantes de Servicios) buscan al Especialista de acuerdo con su necesidad y conveniencia (Cercan&iacute;a, Disponibilidad, atenci&oacute;n presencial, a domicilio o remota.En salud que opere con Isapres, Fonasa o 100% particular).
                                    <br> •	Ingresan al perfil del Especialista, revisan la disponibilidad de horas y agendan de acuerdo con la mejor soluci&oacute;n a su necesidad.
                                        <br>•	Autom&aacute;ticamente se genera un aviso al Especialista que le indica que una hora ha sido tomada y la persona que lo ha hecho. 
                                        
                                </div>
                            </div>
                            </div>
                            <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    &iquest;C&oacute;mo protegemos a los Usuarios?
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionPH">
                                <div class="accordion-body">
                                    Usted cuenta con nuestra ayuda.
                                    <br>Aunque no es común, si tuvieras algún problema con el agendamiento o el Especialista, estaremos ah&iacute; para ayudarte.
                                    Lo primero que tienes que hacer es iniciar un Comentario Negativo sobre el Especialista. Esto lo puedes hacer pasado 48 Hrs. de la hora agendada, para que podamos seguir tu problema y ayudarte a resolverlo.
                                    
                                </div>
                            </div>
                            </div>
                            <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    &iquest;C&oacute;mo y hasta cu&aacute;ndo puedo cancelar/anular una hora?
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionPH">
                                <div class="accordion-body">
                                    Para cancelar o anular una hora, busque la opci&oacute;n “ANULAR” que aparece en el menú de tus horas agendadas y sigue los pasos. 
                                    La devoluci&oacute;n de una hora se podr&aacute; realizar hasta 24 horas antes de la hora agendada. 
                                    Se recomienda comunicarse con el/la Especialista si se agendo directamente con él/ella. 
                                </div>
                            </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headinglistaF">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapselistaF" aria-expanded="false" aria-controls="collapselistaF">
                                        &iquest;Los Servicios de Pr&oacute;xima Hora tienen algún costo para los usuarios Demandantes de Servicios?
                                    </button>
                                </h2>
                                <div id="collapselistaF" class="accordion-collapse collapse" aria-labelledby="headinglistaF" data-bs-parent="#accordionPH">
                                    <div class="accordion-body">
                                        No tiene costo para usuarios Demandantes de Servicios, pero se deben sujetar al cumplimiento de las reglas de uso del Sitio. Pr&oacute;xima Hora busca simplificar y abaratar el acceso a los Servicios de Especialistas, generando un bien social, permitiendo buscar alternativas a servicios que presentan largas colas de espera y saturaci&oacute;n.
                                </div>                 
                                </div>
                            </div>
                            
                

                         
                            <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne1">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne1" aria-expanded="false" aria-controls="collapseOne1">
                                    &iquest;C&oacute;mo y cu&aacute;ndo puedo opinar sobre el Especialista?
                                </button>
                            </h2>
                            <div id="collapseOne1" class="accordion-collapse collapse" aria-labelledby="headingOne1" data-bs-parent="#accordionPH">
                                <div class="accordion-body">
                                    A partir de 48 Hrs posteriores a la hora agendada, podr&aacute;s dejar un comentario sobre el Especialista y lo mostraremos en su perfil. 
                                    Previa verificaci&oacute;n de que, a juicio de <strong>Pr&oacute;xima Hora</strong>, el Comentario no es grosero, ofensivo o incumple las normas de uso de <strong>Pr&oacute;xima Hora</strong>.                </div>
                            </div>
                            </div>
                            <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo1">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo1">
                                    &iquest;Cuando y c&oacute;mo el Especialista puede opinar sobre el Usuario Demandante por Servicios?
                                </button>
                            </h2>
                            <div id="collapseTwo1" class="accordion-collapse collapse" aria-labelledby="headingTwo1" data-bs-parent="#accordionPH">
                                <div class="accordion-body">
                                    Hasta 24 Hrs posteriores a la hora agendada, se podr&aacute; dejar un comentario sobre el Usuario Demandante de Servicios, por ejemplo, la inasistencia a la hora agendada u otro problema.
                                </div>
                            </div>
                            </div>
                            <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree1">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree1" aria-expanded="false" aria-controls="collapseThree1">
                                    &iquest;Cu&aacute;les son las normas de Pr&oacute;xima Hora para la emisi&oacute;n de Comentarios?
                                </button>
                            </h2>
                            <div id="collapseThree1" class="accordion-collapse collapse" aria-labelledby="headingThree1" data-bs-parent="#accordionPH">
                                <div class="accordion-body">
                                    Los Comentarios estar&aacute;n sujetas a las siguientes reglas:

                                    <br>•	Deber&aacute;n limitarse a referencias personales sobre la atenci&oacute;n.
                                    <br>•	No est&aacute;n permitidas opiniones de car&aacute;cter privado, publicitario, autorreferencias o cualquier otra acci&oacute;n que desvirtúe la herramienta de opiniones.
                                    <br>•	No podr&aacute; incluirse contenido ofensivo, obsceno, discriminatorio, ni que incite peligro potencial hacia las personas.
                                    <br>•	Si la persona sube una imagen como complemento de su opini&oacute;n deber&aacute; tener todos los derechos y autorizaciones que esas im&aacute;genes puedan requerir.
                                    <br>•	No est&aacute;n permitidas fotos con desnudez total o parcial, o con menores de edad en ropa interior.
                                    <br>•	No podr&aacute;n incluirse datos de contacto como, por ejemplo: teléfono, e-mail o direcci&oacute;n.
                                    <br>•	La Persona Usuaria autoriza a Pr&oacute;xima Hora a publicar los comentarios y fotos como referencias de atenciones y a servicios y como respuestas a preguntas que otras Personas Usuarias puedan realizar sobre el mismo.
                                    
                                    <br> •	La Persona Usuaria ser&aacute; responsable por cualquier daño que sus opiniones e im&aacute;genes puedan causar. Pr&oacute;xima Hora podr&aacute; suspender temporal o definitivamente la posibilidad de dejar opiniones a quien incumpla estas pol&iacute;ticas. 
                                    
                                    <br>•	Pr&oacute;xima Hora no edita opiniones, pero podr&aacute; impedir la publicaci&oacute;n o eliminar cualquier comentario e imagen ya publicada que no cumpla con los Términos y Condiciones.
                            </div>                 
                            </div>
                            </div>
                        
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingG">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseG" aria-expanded="false" aria-controls="collapseG">
                                        &iquest;Cu&aacute;les son los beneficios del Servicio de Pr&oacute;xima Hora a los Especialistas?
                                    </button>
                                </h2>
                                <div id="collapseG" class="accordion-collapse collapse" aria-labelledby="headingG" data-bs-parent="#accordionPH">
                                    <div class="accordion-body">
                                        <li>>Mayor difusi&oacute;n y visibilidad, especialmente para Especialistas independientes y/o recién egresados. Ganar&aacute; sinergia en el esfuerzo de difusi&oacute;n y publicidad, ya que no solo ser&aacute;s visible cuando busquen tu servicio, los usuarios demandantes ver&aacute;n que la plataforma ofrece servicios en tu &aacute;rea y en muchas m&aacute;s mientras buscan por cualquier rubro, haciendo posible que recuerden necesidades pendientes, “paseando” y “vitrineando” en un solo lugar.</li>
                                        <li>Bajo costo. Menor al de cualquier método tradicional de Marketing, llegando hasta donde llegue la red.</li>
                                        <li>Poder gestionar en la Red su disponibilidad horaria aún siendo independiente (no pertenecer a una Cl&iacute;nica, Hospital u otro tipo de empresa que se queda con un alto porcentaje del valor de las atenciones).</li>>
                                        <li>Bajo requerimiento de equipo, basta contar con Internet para acceder a gesti&oacute;n, modificaciones, notificaciones y otros servicios.</li>
                                        <li>Optimizaci&oacute;n de horas disponibles.</li>

                                </div>                 
                                </div>
                            </div>
                        </div>

                </div>
               

                <div class="col-lg-4 col-md-3 col-sm-12 ">
                    <img src="static/img/lupa.png" style="width: 385.637px;
                    height: 385.637px;
                    flex-shrink: 0;">
                    <h4 class="text-center">&iquest;Tienes dudas o sugerencias?
                    Comun&iacute;cate con nosotros <a href=""> 
                        <img src="{% static 'img/contacto.svg' %}" style=" width:120px;height:120px; vertical-align: middle;display: inline-block;"></a></h4>
                </div>
            </div>
            </div>
        
</section>


  

<!-- Modal suscripcion -->

<div class="modal fade" id="SuscripcionModal" tabindex="-1" aria-labelledby="ModalSuscripcion" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content container-fluid" >
       
        <div class="modal-body">
            <div  style="max-width: 100%;">
                <div class="container py-5 h-100">
                  <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col col-xl-10">
                      <div class="card" style="border-radius: 1rem;"><button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>
                        <div class="row g-0">
                            <div class="col-md-12 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black myform">


                                 
                             
        <div class="d-flex cajas">
            
            <div class="input-group flex-nowrap mx-4" > 
                <h3>¡SUSCRIPCION PROXIMA HORA! </h3>
                <p style="color:aquamarine;">Datos para realizar Registro</p>
                    <form id="iniciosus" name="iniciosus">
                    
                        <div class="d-flex flex-column">
                                <div class="d-flex flex-column mb-3">  
                                    <label for="nombreesp" class="form-label">
                         Nombre <input type="text"  class="form-control" id="nombreesp" name="nombreesp">
                         Apellido <input type="text"  class="form-control" id="apellidoesp" name="apellidoesp">
                        </label>
                        </div>
                        <hr>
                        <div class="d-flex flex-column mb-3">  
                            <label for="mail" class="form-label">Mail
                        <input type="text"  class="form-control" id="mail" name="mail"></label>
                        </div>
                        <div class="d-flex flex-column mb-3">  
                            <label for="rut" class="form-label">RUT
                        <input type="text" class="form-control" id="rut" name="rut"></label>
                        </div>
                        <div class="d-flex flex-column mb-3">  
                            <label for="telefono" class="form-label">Telefono
                        <input type="text" class="form-control" id="telefono" name="telefono"></label>
                        </div>
                        <hr>
                        <div class="d-flex flex-column mb-3">  
                            <label for="contrasena" class="form-label">Ingrese una contraseña
                        <input type="text"  class="form-control" id="contrasena" name="contrasena"></label>
                        </div>
                        <div class="d-flex flex-column mb-3">  
                            <label for="recontrasena" class="form-label">Ingrese una contraseña
                        <input type="text"  class="form-control" id="recontrasena" name="recontrasena"></label>
                        </div>
                         
                        </div>
                     Se le enviara un mail, para verificar su cuenta y pueda continuar con la suscripción con Próxima Hora
                        <button type="button" class="btn boton" data-bs-toggle="modal" data-bs-target="#Envio" >
                           Verificación mail
                          </button> </form> 
                        <!-- Button trigger modal -->
    
                   
            </div>   
           
            </div> 
              
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
            </div>


        </div>
       
      </div>
    </div>
  </div>


  <!-- Modal contacto -->

<div class="modal fade" id="ContactoModal" tabindex="-1" aria-labelledby="ModalContacto" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content container-fluid" >
       
        <div class="modal-body">
            <div  style="max-width: 100%;">
                <div class="py-5 h-100">
                  <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col col-xl-10">
                      <div class="card" style="border-radius: 1rem;"><button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>
                        <div class="row g-0"><h3 style="text-align: center;">CONTACTO </h3>
                        <div class="col-md-4">
                                
            <p class="p-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec risus purus. Suspendisse eget velit mauris. Nunc tempor nunc vitae aliquam egestas. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec risus purus. 
            </p>
                Whatsapp: +56 123456789
                <br>
                Mail: contacto@mail.cl
                        </div>
                        <div class="col-md-8 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black myform">


                                 
                             
       
            
            <div class="input-group flex-nowrap mx-4" > 
            
                    <form id="contacto" name="contacto">
                    
                        <div class="d-flex flex-column">
                                <div class="d-flex flex-column mb-3">  
                                    <label for="nombreesp" class="form-label">
                         Nombre <input type="text"  class="form-control" id="nombrecontacto" name="nombrecontacto">
                         Apellido <input type="text"  class="form-control" id="apellidocontacto" name="apellidocontacto">
                        </label>
                        </div>
                      
                        <div class="d-flex flex-column mb-3">  
                            <label for="mail" class="form-label">Mail
                        <input type="text"  class="form-control" id="mailcontacto" name="mailcontacto"></label>
                        </div>
                        <div class="d-flex flex-column mb-3">  
                            <label for="rut" class="form-label">RUT
                        <input type="text" class="form-control" id="rutcontacto" name="rutcontacto"></label>
                        </div>
                        <hr>
                        <div class="d-flex flex-column mb-3">  
                            <label for="asunto" class="form-label">Asunto:
                        <input type="text" class="form-control" id="asunto" name="asunto"></label>
                        </div>
                        <div class="d-flex flex-column mb-3">  
                            <label for="Mensaje" class="form-label">Mensaje:
                        <textarea class="form-control" id="Mensaje" name="Mensaje" rows="4" cols="50">
                        </textarea>
                        </label>
                        </div>
                         
                        </div>
                              <button type="button" class="btn boton" data-bs-toggle="modal" data-bs-target="#Envio" >
                           Enviar
                          </button> </form> 
                        <!-- Button trigger modal -->
    
                   
            </div>   
           
           
              
                            </div>
                        </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
            </div>


        </div>
       
      </div>
    </div>
  </div>
{% endblock %}
