{% extends 'base_home.html' %}
{% load static %}

{% block content %}


<div class="container container-md ">

 

    <!-- miga de pan -->
 <!--    <div class="migapan">

      <ul class="breadcrumb">
        <li>Buscar Especialista</li>

      </ul>
      

    </div> -->


  

      <div id="stepper1" class="bs-stepper">
        <div class="bs-stepper-header">
          <div class="step" data-target="#test-l-1">
            <button type="button" class="btn step-trigger" role="tab" aria-controls="InvRegist" id="InvRegist-trigger">
              <span class="bs-stepper-circle">1</span>
              <span class="bs-stepper-label">Tipo Usuario</span>
            </button>
          </div>
          <div class="line"></div>
          <div class="step" data-target="#test-l-2">
            <button type="button" class="btn step-trigger" role="tab" aria-controls="selEspecialidad" id="selEspecialidad-trigger">
              <span class="bs-stepper-circle">2</span>
              <span class="bs-stepper-label">Seleccion</span>
            </button>
          </div>
         
        </div>
        <div class="bs-stepper-content">
          <div id="test-l-1" class="content">
            <div class="row" >
              <div class="col-md-5 mt-5 d-flex justify-content-center">

                <img id="selectedAvatar" src="{% static '/img/User.svg' %}" class="rounded-circle"
                  style="width: 100px; height: 100px; object-fit: cover;" alt="example placeholder" />
                <button class="btn  btn-info btn-block mb-3 d-block mt-5 ms-auto"
                  onclick="location.href='http://127.0.0.1:8000/especialista/buscaespeinvitado';">
                  Continuar como invitado
                </button>
              </div>
              <div class="col-1"></div>
              <div class="col-md-5 mt-5 d-flex justify-content-center">
                <img id="selectedAvatar" src="{% static '/img/UserRegistrado.svg' %}" class="rounded-circle"
                  style="width: 100px; height: 100px; object-fit: cover;" alt="example placeholder" />
                <button class="btn  btn-info btn-block mb-3 d-block mt-5 ms-auto"
                  onclick="location.href='http://127.0.0.1:8000/';">
                  Iniciar sesion
                </button>

              </div>
            </div>
            <div class="row">
             
              <div class="col d-flex justify-content-center"> 
                <button class="btn btn-dark btn-block mb-3 d-block mt-5 ms-auto"  onclick="stepper1.next()">
                  Continuar
                </button></div>

            </div>
          </div>


          <div id="test-l-2" class="content">
            <div class="row" >
              <div class="col-sm-12">
                <h3 style="text-align: center;">  {nombreuser} </h3>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 " style="text-align: center;"> Por favor ingresa tu seleccion para buscar tu
                pr&oacute;xima hora</div>
            </div>

            <div class="mb-3 d-block" style="border-radius: 4px;box-sizing: border-box;">
              <label class="text-muted mb-2" for="especialidad1"
                style="text-overflow: ellipsis;transform-origin: left top;line-height: 1.4375em;">
                Selecciona especialidad
              </label>
              <select id="especialidad1">
                <option value="0">Seleccione especialidad</option>
                <option value="1">Opcion 1</option>
                <option value="2">Opcion 2</option>
                <option value="3">Opcion 3</option>
                <option value="4">Opcion 4</option>

              </select>
            </div>

            <div class="mb-3 d-block p-2">
              <label class="text-muted mb-2" for="sub-especialidad1">
                Seleccciona sub-especialidad
              </label>
              <select id="sub-especialidad1">
                <option value="0">Seleccione sub-especialidad</option>
                <option value="1">Opcion 1</option>
                <option value="2">Opcion 2</option>
                <option value="3">Opcion 3</option>
                <option value="4">Opcion 4</option>

              </select>
            </div>


            <div class="mb-3 d-block">
              <label class="text-muted mb-2">
                Selecciona tipo de atención
              </label>
              <div class="tipoatencion">
                <input type="checkbox" id="opcion1" class="bg-light" /> <label>Presencial</label><br>
                <input type="checkbox" id="opcion2" class="bg-light " /> <label>Online</label><br>
                <input type="checkbox" id="opcion3" class=" bg-light " /> <label>Domicilio</label>
              </div>

            </div>

            <div class="mb-3 d-block">
              <label class="text-muted mb-2" for="region1">
                Region
              </label>
              <select id="region1">
                <option value="0">Seleccione Region</option>
                <option value="1">Opcion 1</option>
                <option value="2">Opcion 2</option>
                <option value="3">Opcion 3</option>
                <option value="4">Opcion 4</option>

              </select>
            </div>


            <div class="mb-3 d-block">
              <label class="text-muted mb-2">
                Comuna
              </label>
              <select id="comuna1">
                <option value="0">Seleccione Comuna</option>
                <option value="1">Opcion 1</option>
                <option value="2">Opcion 2</option>
                <option value="3">Opcion 3</option>
                <option value="4">Opcion 4</option>

              </select>
            </div>
            solo si es salud
            <div class="mb-3 d-block">
              <label class="text-muted mb-2">
                Su Previsión
              </label>
              <select id="prevision1">
                <option value="0">Seleccione Prevision</option>
                <option value="1">Opcion 1</option>
                <option value="2">Opcion 2</option>
                <option value="3">Opcion 3</option>
                <option value="4">Opcion 4</option>

              </select>
            </div>
            <div class="row">

              <div class="col"><button class="btn btn-dark btn-block mb-3 d-block mt-5" onclick="stepper1.previous()">
                  Regresar
                </button></div>
              <div class="col"> <button class="btn btn-info btn-block mb-3 d-block mt-5"
                  onclick="location.href='http://127.0.0.1:8000/especialista/buscaespedet';">
                  Ir a Selección
                </button></div>
            </div>
             
          </div>
        
        </div>
      </div>
    </div>
  
  
</div>
    <script src="/static/js/bs-stepper.min.js"></script>

    <script>
      var stepper1Node = document.querySelector('#stepper1')
      var stepper1 = new Stepper(document.querySelector('#stepper1'))

      /* $(document).ready(function () {
        var stepper = new Stepper($('.bs-stepper')[0])
      })  */

      stepper1Node.addEventListener('show.bs-stepper', function (event) {
        console.warn('show.bs-stepper', event)
      })


    </script>

    {% endblock %}