{% load static %}
<footer>
    <div class="container-md container-fluid">
      <section class=" justify-content-center py-4">
        <div class="footerhome" >
          <div class="row py-4" >
            <div class="col-md-2 col-lg-2 col-sm-2">

              <img src="{% static 'img/proximahora1.png' %}">

            </div>
            <div class="col-md-10 " style="background-image: url('/static/img/desktop.png');background-repeat:   no-repeat;">
           
              <div class="row mt-3" >
                <div class="col-md-1"></div>
                <div class="col-md-3"> <a href="">Pagos</a></div>
                <div class="col-md-2"><a href="">Registro</a> </div>
                <div class="col-md-2"><a href="" class="btn" data-bs-toggle="modal" data-bs-target="#ContactoModal">Contacto</a></div>
                <div class="col-md-2"><a href="">Politicas de Privacidad</a></div>
                <div class="col-md-2"><a href="">AdChoice</a></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col  text-center">
              <p
                style="color: var(--Foundation-Grises-grises-400, #939393);font-size: 16px;font-style: normal; font-weight: 400;line-height: 150%; /* 24px */">
                Todos los derechos y representación legal de Próxima Hora corresponden a CRUVAL®</p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </footer>