
<!-- Modal  Nosotros-->
<div class="modal fade" id="Historia" tabindex="-1" aria-labelledby="Historia" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Historia">Pr&oacute;xima Hora</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h4>Qué ofrecemos?</h4>
                Para ello hemos creado un buscador que permite a los visitantes encontrar al
                Especialista necesario, tomando en cuenta su cercan&iacute;a y disponibilidad y pudiendo
                agendar online su Hora las 24 horas del d&iacute;a, los 7 d&iacute;as de la semana en
                los distintos rubros ofrecidos.
                <hr>
                <h4>Historia de la marca</h4>
                Pr&oacute;xima Hora nace como una idea basada en la experiencia personal de uno de los
                Socios de CRUVAL Business Ltda. que identifica que en el rubro de la salud existen pocos
                caminos
                alternativos para buscar y agendar servicios de especialistas m&aacute;s all&aacute; de
                las p&aacute;ginas de cl&iacute;nicas, por
                lo que para las personas que buscan esos servicios, los especialistas independientes o
                dependientes con disponibilidad de atenci&oacute;n fuera de sus horarios laborales
                quedan fuera de su
                alcance. No solamente acotada al rubro de la salud, esta necesidad se puede extrapolar a
                todos los rubros y servicios.<br>
                De ah&iacute; nace el nombre “Pr&oacute;xima Hora”, ya que la idea es permitir encontrar
                de modo r&aacute;pido, f&aacute;cil
                y accesible la hora m&aacute;s pr&oacute;xima en tiempo y distancia disponible.<br>
                <hr>
                <h4>Equipo</h4>
                Pr&oacute;xima Hora nace como un proyecto de dos cuñados: Juan Pablo, Psic&oacute;logo
                de la
                Universidad de los Andes con un MBA UC y Francisco, Ingeniero Civil Industrial de la UGM
                y
                cuenta con dos MBAs (UC y Meigen en Negocios Internacionales). Nos complementamos
                sumando
                management con el conocimiento del mercado de los Especialistas Independientes. <br>
                Pr&oacute;xima Hora
                es simple, accesible y serio; buscando simplificar y abaratar el acceso a los Servicios
                de
                Especialistas a todas las personas, sin trabas ni grandes complicaciones, generando un
                bien social,
                permitiendo buscar alternativas a servicios que presentan largas colas de espera y
                saturaci&oacute;n.

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- Termino modal  Nosotros -->