{% extends 'home_adm_base.html' %}

{% load static %}

{% block title %} PH Usuarios Pendientes {% endblock %}

{% block content %}

<!-- Custom JS -->
<script type="text/javascript" src="{% static 'js/usuarios/registros_pendientes.js' %}"></script>  

<div  class="container-xxl mt-4">

    {% csrf_token %}

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="table-responsive">
                <table style="width:100%">
                    <tr>
                        <td width="90%" class="titform20">{{ titulo }}</td>
                        <td width="10%" class="text8c">  
                            <input type="hidden" name="{{solicita}}" id="{{solicita}}" value="{{solicita}}" />                   
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        {% include 'registros_pendientes_ajax.html' %}
    </div>
</div>


<div id="diagedit">
    <div class="container-fluid py-3">
        <div class="row">
            <div class="card border-secondary">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="tit10lb">R.U.T.</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-id-card"></i></span>
                                    </div>
                                    <input type="text" name="rut" id="rut" class="form-control w-auto text8l" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 mx-auto">
                            <div class="form-group">
                                <label class="tit10lb">Nombre</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-address-card"></i></span>
                                    </div>
                                <input type="text" name="nombre" id="nombre" size="100" class="form-control w-75 text8l" />
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 mx-auto">
                            <div class="form-group">
                                <label class="tit10lb">Correo Electrónico</label>
                                <div class="input-group">
                                     <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                                    </div>
                                    <input type="text" name="email" id="email" size="100" class="form-control w-75 text8l" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 mx-auto">
                            <div class="form-group">
                                <label class="tit10lb">Teléfono</label>
                                <div class="input-group">
                                     <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-phone"></i></span>
                                    </div>
                                    <input type="text" name="telefono" id="telefono" size="25" maxlength="20" class="form-control w-25 text8l" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 mx-auto">
                            <div class="form-group">
                                <div id="divmsg"  class="alert alert-warning alert-dismissible fade show text-center" role="alert">
                                    <strong><span id="divmsg1"></span></strong>&nbsp;&nbsp;&nbsp;<span id="divmsg2"></span>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}
