{% extends 'home_base.html' %}
{% block title %} Inicio Plataforma Proxima Hora {% endblock%}
{% load static %}


<div class="main">
    <main class="content-lg px-3 py-2">
      <div class="container-fluid">
    
     

        {% block content %} 
         <div class="card cards-noticias">
        <div class="row">
            <div class="col-5"> <img src="{{ Primer_banner.image.url }}" class="card-img-top rounded-top img-thumbnail"></div>
            <div class="col-5">
                <div class="card-body my-3">

                <h5 class=" card-title subtitulo2">{{ Primer_banner.title }}</h5>
                </div>
            </div>
        </div>

        </div>
        
      

        
   
    {% for banner in banners %}
        <div class="card  cards-noticias ">

            

            <img src="{{ banner.image.url }}" class="card-img-top rounded-top img-thumbnail">

            <div class="card-body my-3">

                <h5 class=" card-title subtitulo2">{{ banner.title }}"</h5>
      
                
            </div>
        </div>
    {% endfor %}
    {% endblock %}

      </div>
    </main>
  </div>
  




        
        
  
