{% extends 'base.html' %}

{% load static %}

{% block title %}ProximaHora F.Pago Salud{% endblock %}

{% block content %}

    <!-- Custom JS -->
    <script type="text/javascript" src="{% static 'js/tablas/formapagosalud.js' %}"></script>  

    <div class="container mt-4">
    
        {% csrf_token %}
    
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="table-responsive">
                    <table style="width:100%">
                        <tr>
                            <td width="90%" class="titform20">Formas de Pago Especialistas Area Salud</td>
                            <td width="10%" class="text8c">
                                <button class='btn btn-sm btn-primary tip' title='Agregar Forma Pago' onClick='AgregarRegistro()' >
                                    <i class='fa-solid fa-plus'></i>
                                </button>                        
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    
        {% include 'varios/formapagosalud_ajax_list.html' %}
    
    </div>

    <div id="diagedit">
        <div class="container-fluid py-3">
            <div class="row">
                <div class="col-lg-12">            
                    <div class="row">
                        <div class="col-lg-12 mx-auto">
                            <div class="card border-secondary">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label class="tit10lb">Identificador</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-key"></i></span>
                                            </div>
                                            <input type="text" readonly name="id" id="id" size="10" class="text8r"/>
                                        </div>
                                        <div id="strengthMessage"></div>
                                    </div> 
                                    <div class="form-group">
                                        <label class="tit10lb">Forma de Pago</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-address-card"></i></span>
                                            </div>
                                            <input type="text" name="nombre" id="nombre" placeholder="Nombre" size="50" maxlength="45" class="form-control ucword w-50 text8l  " />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
