{% extends 'home_adm_base.html' %}

{% load static %}

{% block title %}ProximaHora Planes {% endblock %}

{% block content %}

    <!-- Custom JS -->
<script type="text/javascript" src="{% static 'js/tablas/planes.js' %}"></script>  

<div class="container mt-4">

    {% csrf_token %}

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="table-responsive">
                <table style="width:100%">
                    <tr>
                        <td width="90%" class="titform20">Planes de Suscripción</td>
                        <td width="10%" class="text8c">
                            <button class='btn btn-sm btn-primary tip' title='Agregar Plan' onClick='AgregarRegistro()' >
                                <i class='fa-solid fa-plus'></i>
                            </button>                        
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    {% include 'varios/planes_ajax_list.html' %}

</div>


<div id="diagedit">
    <div class="container-fluid py-3">
        <div class="row">
            <div class="card border-secondary">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12 mx-auto">
                            <div class="form-group">
                                <label class="tit10lb">Identificador</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-key"></i></span>
                                    </div>
                                    <input type="text" readonly name="id" id="id" size="10" class="text8r"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 mx-auto">
                            <div class="form-group">
                                <label class="tit10lb">Nombre del Plan</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-address-card"></i></span>
                                    </div>
                                    <input type="text" name="nombre" id="nombre" placeholder="Nombre" size="50" maxlength="45" class="form-control ucword w-50 text8l  " />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mx-auto">
                            <div class="form-group">
                                <label class="tit10lb">Fecha de Inicio</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                    </div>
                                    <input type="text" name="fdesde" id="fdesde" placeholder="dd-mm-aaaa"  size="12" maxlength="10" class="form-control fechainput text8l" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mx-auto">
                            <div class="form-group">
                                <label class="tit10lb">Fecha de Término</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                    </div>
                                    <input type="text" name="fhasta" placeholder="dd-mm-aaaa" id="fhasta" size="12" maxlength="10" class="form-control fechainput input-sm text8l" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 mx-auto">
                            <div class="form-group">
                                <label class="tit10lb">Periodicidad</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-bars"></i></span>
                                    </div>
                                    <select required="required" class="form-control w-auto" name="periodicidad" id="periodicidad" style="font-size:11px;">
                                        {% for codigo, nombre in PeriodicidadPlanes.PERIODICIDAD_PLANES %}
                                            <option value="{{codigo}}" class="text8l">{{nombre}}</option>
                                        {% endfor %}
                                    </select>                                                        
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mx-auto">
                            <div class="form-group">
                                <label class="tit10lb">Valor</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-usd"></i></span>
                                    </div>
                                    <input type="text" name="valor" id="valor" placeholder="Valor del Plan" size="10" maxlength="10" class="form-control w-50 text8l" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mx-auto">
                            <div class="form-group">
                                <label class="tit10lb">Estado</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-bars"></i></span>
                                    </div>
                                    <select required="required" class="form-control w-auto" name="estado" id="estado" style="font-size:11px;">
                                        {% for codigo, nombre in EstadosPlanes.ESTADOS_PLANES %}
                                            <option value="{{codigo}}" class="text8l">{{nombre}}</option>
                                        {% endfor %}
                                    </select>                                                        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





{% endblock %}
