
<input type="hidden" name="misubcategoria" id="misubcategoria"  value="{{misubcategoria}}" />

<select required="required" class="form-control w-auto" name="subcategoria" id="subcategoria" style="font-size:11px;">
    {% for subcategoria in subcategorias %}    
        {% if subcategoria.id == misubcategoria %} 
            <option value="{{subcategoria.id}}" selected class="text8l">{{subcategoria.nombre}}</option>
        {% else %}
            <option value="{{subcategoria.id}}" class="text8l">{{subcategoria.nombre}}</option>
        {% endif %}
    {% endfor %}
</select>
